@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --purple: #854dff;
    --red: #ff5757;
    --white: #ffffff;
    --off-white: #f0f0f0;
    /* --off-white: #2a2a2a; */
    --light-grey: #dbdbdb;
    --smokey-grey: #716f6f;
    --off-black: #141414;

    --main-font: "Poppins", sans-serif;
}

body {
    background-color: var(--off-white);
    min-height: 100vh;
    position: relative;
}

main {
    background-color: var(--white);
    width: 45%;
    font-family: var(--main-font);
    margin: 7rem auto;
    padding: 2rem;
    border-radius: 1rem 1rem 5rem 1rem;
}


/* --- FORM --- */
.form {
    width: 75%;
    margin-bottom: 1.5rem;
    display: flex;
    text-align: left;
    position: relative;
}


.form::after {
    content: "";
    position: absolute;
    left: 1rem;
    right: -2rem;
    bottom: -1rem;
    border-bottom: 1px solid var(--light-grey);
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form__inputs {
    width: 60%;
    padding: .5rem;
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    color: var(--off-black);
    font-size: 1.8rem;
}

.form__inputs:focus, 
.form__inputs:hover,
.form__inputs:valid {
    border: none;
    border: 1px solid var(--purple);
}


.form::placeholder {
    color: var(--smokey-grey);
    font-weight: 800;
}

.form__labels {
    color: var(--smokey-grey);
    font-size: 0.7rem;
    font-weight: 800;
    text-transform: uppercase;
    text-indent: -3px;
    letter-spacing: 2px;
}

.form__button {
    background-color: var(--purple);
    padding: 0.5rem;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    position: absolute;
    right: -70px;
    top: 61px;
    z-index: 1;

}

.form__button:hover {
    background-color: var(--off-black);
}

.form__button img {
    width: 2rem;
}

.form__erro-message {
    color: var(--red);
    font-size: .7rem;
    font-style: italic;
}


/* --- RESULT --- */

.result-container {
    margin-top: 1.5rem;
}

.result-container__p {
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
}

.result-container__numbers-span {
    color: var(--purple);
}

footer {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
    
}

footer a {
    color: var(--purple);
}

footer a:hover {
    text-decoration: underline;
}


.text-erro {
    color: var(--red);
}

.input-erro {
    border: 1px solid;
    border-color: var(--red);
}

/* -- Media Queries -- */
@media (max-width: 1280px) {
    main {
        width: 65%;
     }
}
@media (max-width: 720px) {
    main {
       width: 80%;
    }

    .form {
        width: 80%;
    }
}

@media (max-width: 640px) {
    main {
        width: 95%;
       min-height: 95vh;
       margin: 1rem auto;
       border-radius: 0.5rem 0.5rem 3rem 0.5rem;
    }

    .form {
        width: 90%;
    }

    .form::after {
        bottom: -2.5rem;
    }

    .form__inputs {
        width: 70%;
    }

    .form__button {
        width: 4em;
        height: 4em;
        left: 50%;
        top: 90px;
        transform: translate(-50%);
    }

    .form__button img {
        width: 1.5rem;
    }


    .result-container {
        margin-top: 3.8rem;
    }

    .result-container__p {
        font-size: 3.5rem;
    }

    footer {
        font-size: 0.75rem;
        bottom: 10px;
    }
}

@media (max-width: 360px) {
    .result-container__p {
        font-size: 2.75rem;
    }
}
